<% content_for :title, "Liste des recettes" %>

<div class="container">
  <h1>Liste des recettes</h1>

  <div>
    <% @recipes.each do |recipe| %>
      <div id="recipe-<%= recipe.id %>">
        <p><%= recipe.name %></p>
        <p><%= recipe.photo %></p>
        <p><%= recipe.cooking_time %></p>
        <p><%= recipe.week_nb %></p>
        <p><%= recipe.season %></p>
        <p><%= recipe.category %></p>
      </div>
      <div>
        <% recipe.ingredients.each do |ingredient| %>
          <p><%= ingredient.name %> (<%= ingredient.section %>)</p>
        <% end %>
      </div>
      <div>
        <%= link_to "Modifier les ingrédients", recipe_path(recipe) %>
      </div>
      <div>
        <%= link_to "Modifier la recette", edit_recipe_path(recipe) %>
      </div>
      <div>
        <%= link_to "Supprimer la recette",
                    recipe_path(recipe),
                    method: :delete,
                    remote: true,
                    data: { confirm: "Etes-vous sûr de vouloir supprimer la recette #{recipe.name}?" }
        %>
      </div>
      <div>
        <%= link_to "-",
                    recipe_shopping_list_path(recipe, 0),
                    method: :patch,
                    remote: true
        %>
        <%= @shopping_lists[recipe.id] ||= 0 %>
        <%= link_to "+",
                    recipe_shopping_lists_path(recipe),
                    method: :post,
                    remote: true
        %>
      </div>
    <% end %>
  </div>
</div>
