<div class="container">
  <h1>Liste des recettes</h1>

  <div>
    <%= link_to "Revenir à l'accueil", root_path %>
  </div>
  <div>
    <%= link_to "Ajouter une nouvelle recette", new_recipe_path %>
  </div>

  <div>
    <% @recipes.each do |recipe| %>
      <div>
        <p><%= recipe.name %></p>
        <p><%= recipe.photo %></p>
        <p><%= recipe.cooking_time %></p>
        <p><%= recipe.week_nb %></p>
        <p><%= recipe.season %></p>
        <p><%= recipe.category %></p>
      </div>
      <div>
        <% recipe.ingredients.each do |ingredient| %>
          <p><%= ingredient.name %> (<%= ingredient.section %>)</p>
        <% end %>
      </div>
      <div>
        <%= link_to "Modifier les ingrédients", recipe_path(recipe) %>
      </div>
      <div>
        <%= link_to "Modifier la recette", edit_recipe_path(recipe) %>
      </div>
      <div>
        <%= link_to "Supprimer la recette",
                    recipe_path(recipe),
                    method: :delete,
                    data: { confirm: "Etes-vous sûr de vouloir supprimer la recette #{recipe.name}?" }
        %>
      </div>
      <div>
        <%= link_to "Ajouter la recette à ma liste de courses",
                    recipe_shopping_lists_path(recipe),
                    method: :post
        %>
      </div>
      <div>
        <p>Compteur : <%= @shopping_lists[recipe.id] ||= 0 %></p>
      </div>
    <% end %>
  </div>
</div>
