<% content_for :title, "Mes recettes" %>

<div class="container">
  <div class="d-flex
              flex-column
              flex-lg-row
              justify-content-lg-between
              align-items-lg-center">
    <div class="h-deco-left">
      <h1>Mes recettes</h1>
      <p>
        <%= t("plurals.selected_recipes", count: @shopping_lists.size) %>
        <span class="d-none d-sm-inline">dans </span>
        <%= link_to shopping_lists_path, class: "text-decoration-none" do %>
          <span class="d-none d-sm-inline">ma liste de courses</span>
          <% if @shopping_lists.size > 0 %>
            <i class="fas fa-clipboard-check"></i>
          <% else %>
            <i
              class="fas fa-info-circle"
              title="Vous n'avez pas sélectionné de recettes."
            ></i>
          <% end %>
        <% end %>
      </p>
    </div>
    <%= render "search_form" %>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    <% @recipes.each do |recipe| %>
      <!-- Recipe card -->
      <div class="col mb-4">
        <div
          class="card h-100"
          id="recipe-<%= recipe.id %>"
        >
          <%= link_to cl_image_tag( "#{recipe.photo.key}",
                                    width: 600,
                                    aspect_ratio: 1.5,
                                    crop: :fill,
                                    quality: :auto,
                                    fetch_format: :auto,
                                    class: "card-img-top"
                      ),
                      "#",
                      data: {
                        toggle: "modal",
                        target: "#ingredientsListModal-#{recipe.photo.key}"
                      }
          %>
          <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <div class="card-text">
              <span class="badge badge-danger text-white">
                <%= recipe.season %>
              </span>
              <span class="badge badge-warning text-white">
                <%= recipe.category %>
              </span>
              <span class="badge badge-info text-white">
                <%= recipe.cooking_time %> minutes
              </span>

              <!-- Button trigger modal -->
              <%= link_to "...",
                          "#",
                          class: "badge badge-secondary",
                          data: {
                            toggle: "modal",
                            target: "#ingredientsListModal-#{recipe.photo.key}"
                          }
              %>

              <!-- Modal -->
              <div
                class="modal text-left fade"
                id=<%= "ingredientsListModal-#{recipe.photo.key}" %>
                tabindex="-1"
                role="dialog"
                aria-labelledby="ingredientsListModalTitle"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ingredientsListModalTitle">
                        Liste des ingrédients
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-unstyled">
                        <% recipe.ingredients.each do |ingredient| %>
                          <li><%= ingredient.name %></li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <%= link_to "Modifier",
                                  recipe_path(recipe),
                                  class: "btn btn-warning btn-block text-white"
                      %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <!-- Add/Remove servings buttons -->
            <div class="d-flex
                        justify-content-center
                        align-items-center
                        justify-content-lg-between"
            >
              <%= link_to recipe_shopping_list_path(recipe, 0),
                          class: "btn btn-primary font-weight-bold text-white px-3 px-lg-4",
                          method: :patch,
                          remote: true do
              %>
                <i class="fas fa-minus"></i>
              <% end %>

              <span class="px-3">
                <%= @shopping_lists[recipe.id] ||= 0 %>
                <span class="d-none d-lg-inline">
                  <%= t("plurals.portions", count: @shopping_lists[recipe.id]) %>
                </span>
              </span>

              <%= link_to recipe_shopping_lists_path(recipe),
                          class: "btn btn-primary font-weight-bold text-white px-3 px-lg-4",
                          method: :post,
                          remote: true do
              %>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>
          </div>

          <!-- Add/Delete recipe icons -->
          <div class="text-right mr-3 mb-2">
            <%= link_to edit_recipe_path(recipe),
                        class: "text-black-50 text-decoration-none" do
            %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to recipe_path(recipe),
                        class: "text-black-50 text-decoration-none",
                        method: :delete,
                        remote: true,
                        data: { confirm: "Etes-vous sûr de vouloir supprimer la recette #{recipe.name}?" } do
            %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Default card -->
    <div class="col mb-4">
      <div class="card h-100">
        <%= image_tag "default-recipe.jpg", class: "card-img-top o-2" %>
        <div class="card-body text-center">
          <div class="py-md-5">
            <%= link_to "Ajouter une recette",
                        new_recipe_path, class: "btn btn-primary text-white px-4"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-to-up">
    <%= link_to shopping_lists_path, title: "Accéder à ma liste de courses" do %>
      <i class="fas fa-clipboard-list"></i>
      <i class="fas fa-chevron-right"></i>
    <% end %>
  </div>
</div>
