<% content_for :title, "Recette" %>

<div class="container">
  <!-- Recipe card -->
  <div class="card my-4">
    <div class="overflow-hidden">
      <%= cl_image_tag "#{@recipe.photo.key}", class: "card-img-top img-truncate" %>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= @recipe.name %></h4>
      <p class="card-text">
        <span class="badge badge-danger text-white"><%= @recipe.season %></span>
        <span class="badge badge-warning text-white"><%= @recipe.category %></span>
        <span class="badge badge-info text-white"><%= @recipe.cooking_time %> minutes</span>
        <span class="badge badge-success text-white">Semaine <%= @recipe.week_nb %></span>
      </p>
      <div class="row justify-content-around my-5">
        <!-- Ingredients list -->
        <div id="doses" class=" col-md-8 col-lg-5">
          <h5 class="h-deco-bottom">
            Liste des ingrédients
            <em>—</em>
          </h5>
          <table class="table table-sm table-borderless">
            <tbody>
              <% @recipe.doses.each do |dose| %>
                <tr id="dose-<%= dose.id %>">
                  <td scope="row"><%= dose.ingredient.name %></td>
                  <td>
                    <%= format_quantity(dose.quantity) %>
                    <%= format_unit(dose.quantity, dose.unit) %>
                  </td>
                  <td>
                    <%= link_to dose_path(dose),
                                class: "mx-2",
                                method: :delete,
                                remote: true do
                    %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <!-- Doses form -->
        <div class="col-md-8 col-lg-5 mt-4 mt-lg-0">
          <h5 class="h-deco-bottom">
            Ajouter un ingrédient
            <em>—</em>
          </h5>
          <%= render "doses/form", recipe: @recipe, dose: @dose %>
        </div>
      </div>

      <!-- Add/Delete recipe icons -->
      <div class="text-right mr-3 mb-2">
        <%= link_to edit_recipe_path(@recipe), class: "text-black-50 text-decoration-none" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        &nbsp
        <%= link_to recipe_path(@recipe),
                    class: "text-black-50 text-decoration-none",
                    method: :delete,
                    remote: true,
                    data: { confirm: "Etes-vous sûr de vouloir supprimer la recette #{@recipe.name}?" } do
        %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
